

/* :root {
    --greenish-color: #34682de0;
    --yellowish-color: #d1f373;
} */

* {
    margin:0;
    padding:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
}

.sidebar {
    /* background-color: #ef4444; */
    background-image: linear-gradient(#a0d2eb, #e5eaf5, #d0bdf4, #8458B3, #a28089);
    background-attachment: fixed; 
    width: 13vw;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5%;
    box-shadow: 0 0 15px gray;
}

.main-navbar button:hover,
.support-navbar button:hover {
    color: #8458B3;
    filter: invert(43%) sepia(71%) saturate(396%) hue-rotate(226deg) brightness(84%) contrast(100%);
}

.main-navbar button:active,
.support-navbar button:active {
    color: #8458B3;
    /* box-shadow: 0 1px #8458B3; */
    transform: translateY(2px);
}

.dash {
    display: flex;
    align-content: center;
    column-gap: 5px;
}

.dash>div {
    font-size: 32px;
    font-weight: 700;
    justify-self: left;
    align-content: center;
}

.dash>img {
    justify-self: center;
    height: 50px;
}

.main-navbar,
.support-navbar {
    display:flex;
    flex-direction: column;
    gap: 12px;
}

.main-navbar>button,
.support-navbar>button,
footer>button,
.support-navbar>div {
    display: flex;
    gap: 18px;
    padding: 0 16px;
    border: none;
    background: none;
}

.main-navbar>button>div,
.support-navbar>button>div,
footer>button>div {
    font-size: 22px;
    font-weight: 600;
    justify-self: left;
    align-content: center;
}

.main-navbar>button>img,
.support-navbar>button>img
footer>button>img {
    justify-self: center;
}

footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    padding: 10px 0;
    border-top: 1px groove rgb(88, 88, 88);
    width: 12.8vw;
    min-width: 160px;
}

.footer:hover {
    filter: invert(87%) sepia(4%) saturate(7347%) hue-rotate(175deg) brightness(105%) contrast(84%);
}

.footer:active {
    filter: invert(87%) sepia(4%) saturate(7347%) hue-rotate(175deg) brightness(105%) contrast(84%);
    transform: translateY(2px);
}

.add-item {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    border: none;
    margin: 10px;
    background-color: #a28089;
}

.add-item:hover,
button.submit:hover {background-color: #8458B3}

.add-item:active,
button.submit:active {
    background-color: #8458B3;
    box-shadow: 0 1px #8458B3;
    transform: translateY(2px);
}

#contents {
    width: 87vw;
    background-color: rgba(255, 255, 255, 0.062);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#contents>h1 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px groove #e5eaf5;
}

#contents>fieldset {
    border: none;
}

#contents>fieldset>div {
    font-size: 1.8rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1em auto 30% 25% 16% 2%;
    gap: 0.5em;
    margin-top: 1em;
    overflow-wrap: anywhere;
    align-items: center;
}
#contents>fieldset>div>p {
    font-size: 1.4rem;
    width: 1fr;
    max-width: 300px;
}
.remove-item {
    border: none;
    background-color: transparent;
}

input[type="checkbox"] {
    appearance: none;
    background-color: rgba(255, 255, 255, 0.062);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.05em;
    height: 1.05em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(0.075em);
    display:grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content:'';
    width: 0.55em;
    height: 0.55em;
    transform:scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #8458B3;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type='checkbox']:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

input[type='checkbox']:checked + label,
input[type='checkbox']:checked + label + p,
input[type='checkbox']:checked + label + p + div,
input[type='checkbox']:checked + label + p + div + label {
    color: #8458B3;
    text-decoration: line-through;
}

.checkbox .High {
    color: red;
}

.checkbox .Medium {
    color: yellowgreen;
}

.checkbox .Low {
    color: green;
}

/* The form that appears while pressing plus button on the bottom right */
.add-item-form {
    position: absolute;
    bottom: 90px;
    right: 10px;
    background-image: linear-gradient(#a0d2eb, #e5eaf5, #d0bdf4, #8458B3, #a28089);
    background-attachment: fixed; 
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    height: 360px;
    width: 360px;
    border-radius: 14px;
    border: none;
    margin: 10px;
    font-size: 24px;
    font-weight: 500;
}

.add-item-form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.add-item-form textarea {
    width: 246px;
    max-height: 96px;
    overflow: hidden;
    outline: none;
    padding:2px;
    border-radius: 8px;
    font-size: 16px;
    border: 2px inset black;
}

.add-item-form input,
.add-item-form select {
    padding: 2px;
    border: 2px inset black;
    border-radius: 8px;
    overflow: hidden;
    outline: none;
    font-size: 16px;
}

.add-item-form textarea:focus,
.add-item-form input:focus,
.add-item-form select:focus {
    border-color: #a0d2eb;
}

.add-item-form input[type='text'] {
    width: 246px;
}

.add-item-form input[type='date'],
.add-item-form select {
    width:140px;
    padding: 2px;
    box-sizing: border-box;
}

button.submit {
    background-color: #a28089;
    border: none;
    border-radius: 24px;
    width: 110px;
    height: 45px;
    align-self: center;
    font-weight: 600;
    font-size: 16px;
}